In [1]:
num = int(input("Enter the num 1:"))

Enter the num 1:5

In [2]:
if num % 13 == 0:
    print("The number is divisible by 13")

# IF ELSE

In [4]:
num2 = int(input("Enter the number "))

Enter the number 5

In [5]:
if num2 % 2 == 0:
    print("The number is Odd")
else:
    print("The numer is Even ")

The numer is Even

# activities

In [6]:
num3 = int(input("Enter the number 1:"))
num4 = int(input("Enter the number 2:"))

Enter the number 1:10
Enter the number 2:5

In [7]:
if num3 % num4 == 0:
    print("the number is divisble")
else:
    print("The number is not divisble")

the number is divisble

# IF , ELSE , ELIF

In [8]:
num44 = int(input("Enter The number"))

if num44 > 0 :
    print("The number is positive ")

elif num44 < 0 :
    print("The number is negivite")
    
else:
    print("The number is ZERO")

Enter The number10
The number is positive

In [ ]:
# Integer Example
num1 = 10
print("num1:", num1, type(num1))

# Float Example
num2 = 3.14
print("num2:", num2, type(num2))

# Complex Number Example
num3 = 2 + 3j
print("num3:", num3, type(num3))

In [57]:
num1 = 10 
print("Value:", num1, "Type:", type(num1))

Value: 10 Type: <class 'int'>

In [58]:
num2 = 3.14
print("Value:", num1, "Type:", type(num2))

Value: 10 Type: <class 'float'>

In [59]:
num3 = 2 + 3j
print("Value:", num1, "Type:", type(num3))

Value: 10 Type: <class 'complex'>

In [60]:
name1="HOLA FOLKS"
print("Value:", name1, "Type:", type(name1))

Value: HOLA FOLKS Type: <class 'str'>

In [61]:
name2 = [1, 2, 3, "four", "five"]
print("Value:", name2, "Type:", type(name2))

Value: [1, 2, 3, 'four', 'five'] Ty1pe: <class 'list'>

In [62]:
name3 = (1, 2, 3, "four", "five")
print("Value:", name3, "Type:", type(name3))

Value: (1, 2, 3, 'four', 'five') Type: <class 'tuple'>

In [63]:
name4 = {1, 2, 3, "four", "five"}
print("Value:", name4, "Type:", type(name4))

Value: {1, 2, 3, 'four', 'five'} Type: <class 'set'>

In [64]:
name5 = {"name": "Vikneshraj D", "age": 18, "city": "Hubli"}
print("Value:", name5, "Type:", type(name5))

Value: {'name': 'Vikneshraj D', 'age': 18, 'city': 'Hubli'} Type: <class 'dict'>

In [31]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [33]:
type(fruits)

list

In [ ]:
A=input("Enter the number: ")
val = 0
i = 0

while i <= int(A):
    val += i
    i += 1
     
print(f"The sum is {val}")

In [34]:
type(A)

str

In [67]:
def add_numbers(x, y):
    sum_result = x + y
    return sum_result

result = add_numbers(4, 4)
print(result)

8

In [44]:
x = 0


if x > 0:
    print("Positive number")
elif x == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [66]:
x = int(input("Enter The number"))

if x > 0 :
    print("The number is positive ")

elif x < 0 :
    print("The number is negivite")
    
else:
    print("The number is ZERO")

Enter The number1a

ValueError: invalid literal for int() with base 10: '1a'

In [53]:
num1 = 10
type(num1)

int

In [56]:
num1 = 10
print("Value:", num1, "Type:", type(num1))

Value: Type: <class 'int'>